In [ ]:
'''Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений'''

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('visit_log.csv')
data.head()

  timestamp;visit_id;url;region;user_id;traffic_source
0  1549980692;e3b0c44298;https://host.ru/3c19b4ef...
1  1549980704;6e340b9cff;https://host.ru/c8d9213a...
2  1549980715;96a296d224;https://host.ru/b8b58337...
3  1549980725;709e80c884;https://host.ru/b8b58337...
4  1549980736;df3f619804;https://host.ru/b8b58337...