In [ ]:
'''Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.'''

In [1]:
import pandas as pd

In [11]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
rating_5 = ratings[(ratings['rating'] == 5.0)]
rating_5.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [13]:
rating_5['movieId'].value_counts().head(10)

318     153
296     123
356     116
2571    109
260     104
593      92
527      92
858      88
2959     81
1196     80
Name: movieId, dtype: int64

In [14]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
bestofbests = movies[movies['movieId'] == 318]
bestofbests.head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama