In [ ]:
'''Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 
Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.'''

In [1]:
import pandas as pd

In [3]:
ratings=pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
ratings_count=ratings.groupby('userId').count().reset_index()
ratings_count=ratings_count[['userId','rating']]
ratings_count.head()

   userId  rating
0       1      20
1       2      76
2       3      51
3       4     204
4       5     100

In [10]:
count_more_than_100=ratings_count[ratings_count['rating']>100]
count_more_than_100.rename(columns={'rating': 'rating_count'}, inplace=True)
count_more_than_100.head()

C:\Users\I.Grishin\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    userId  rating_count
3        4           204
7        8           116
14      15          1700
16      17           363
18      19           423

In [11]:
rating_max=ratings.groupby('userId').max().reset_index()
rating_min=ratings.groupby('userId').min().reset_index()

In [12]:
rating_max_timestamp=rating_max[['userId','timestamp']]
rating_min_timestamp=rating_min[['userId','timestamp']]

In [13]:
rating_max_timestamp.rename(columns={'timestamp': 'timestamp_max'}, inplace=True)
rating_min_timestamp.rename(columns={'timestamp': 'timestamp_min'}, inplace=True)

C:\Users\I.Grishin\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
rating_max_timestamp.head()

   userId  timestamp_max
0       1     1260759205
1       2      835356246
2       3     1298932787
3       4      949982274
4       5     1163375145

In [15]:
rating_min_timestamp.head()

   userId  timestamp_min
0       1     1260759108
1       2      835355395
2       3     1298861589
3       4      949778714
4       5     1163373044

In [16]:
avg_timestamp=count_more_than_100.merge(rating_max_timestamp, how='inner').merge(rating_min_timestamp, how='inner')

In [17]:
def average(row):
    mean_=(row['timestamp_max']-row['timestamp_min'])
    return mean_

In [18]:
avg_timestamp['avg']=avg_timestamp.apply(average, axis=1)
len(count_more_than_100)==len(avg_timestamp)

True

In [19]:
avg_timestamp.head(15)

    userId  rating_count  timestamp_max  timestamp_min        avg
0        4           204      949982274      949778714     203560
1        8           116     1154474527     1154389340      85187
2       15          1700     1469330735      997937239  471393496
3       17           363     1127476640     1127468587       8053
4       19           423      855195373      855190091       5282
5       21           162      854522908      853157476    1365432
6       22           220     1131753381     1131661890      91491
7       23           726     1166728253     1148386124   18342129
8       26           172     1371811577     1351544316   20267261
9       30          1011     1060795346      944943070  115852276
10      33           138     1037009003     1032676792    4332211
11      34           187      973749049      973746214       2835
12      36           104      853005800      847056510    5949290
13      38           111     1449693163     1389721498   59971665
14      41           199     1109817081     1093886586   15930495